<div class="session">
  <%= form_for :session, url: session_path do |form| %>
    <%= form.label :email%>
    <%= form.email_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit "Sign in" %>
  <% end %>
</div>

<b class="title">MYPICTURES</b>
<p>You can:</p>
<p>Create new galleries</p>
<p>Add picures to galleries</p>
<p>Add tags or comments on pictures</p>
<p>Like pictures</p>
<p>Create new groups</p>
<p>Join other groups</p>
