<h1>welcome to this Group</h1>
<h2><%= @group.name %></h2>
<h2><%= @group.description %></h2>

<% if @group.users.include? current_user %>
  <%= button_to "leave group", leave_group_path(@group), method: :delete %></h2>
<% else %>
  <h2><%= button_to "join group", join_group_path(@group), method: :post %></h2>
<% end %>

<h3> group members </h3>
<% if @group.users.include? current_user %>
  <p>You are here</p>
<% end %>
<ul>
  <% @group.users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<%= link_to "delete group", group_path(@group), method: :delete %></h2>

<h3> Group Images </h3>
<% @group.images.each do |image| %>
  <%= image_tag image.url, width:"500" %>
<% end %>
