<%= form_for gallery do |form| %>
  <%= render "application/form_errors", object: gallery %>

  <div><%= form.label :name, "Gallery name: " %>
  <%= form.text_field :name %></div>

  <div><%= form.label :description, "Gallery description: " %>
  <%= form.text_area :description %></div>

  <div><%= form.label :cover_image %>
  <%= form.text_field :cover_image %></div> 

  <div><%= form.submit "Edit gallery" %></div>
  
<% end %>