<h1><%= @gallery.name %> (Gallery name)</h1>
<h1><%= @gallery.description %> (Gallery description)</h1>
<%= link_to "Edit Gallery", edit_gallery_path(@gallery) %>
<%= link_to "Add Image", new_gallery_image_path(@gallery) %>
<%= link_to "Delete gallery", @gallery, method: :delete, data: { confirm: "are you sure?"} %>
<%= link_to "Index", galleries_path %> 
<div>
  <% @gallery.images.each do |image| %>
    <div>
      <%= link_to gallery_image_path(@gallery, image) do %>
        <%= image_tag image.url, width:"500" %>
      <% end %> 
    </div>
  <% end %>
</div>