<%= form_for [gallery, image] do |form| %>

  <% if image.errors.any? %>
    <p>we can not save your image </p>

    <li>
      <% image.errors.full_messages.each do |error_message| %>
        <%= error_message %>
      <% end %>
    </li>
  <% end %>

  <div>
  <%= form.label :name, "Image name: " %>
  <%= form.text_field :name %>
  </div>

  <div>
  <%= form.label :description, "Image description: " %>
  <%= form.text_area :description %>
  </div>
 
  <div>
  <%= form.submit "Add Image" %>
  </div>

<% end %>