<div class="welcome">
  <%= link_to "Add an image", new_gallery_image_path(@gallery) %>
  <%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>
  <%= link_to "Delete this image", gallery_image_path(@gallery, @image),
    method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<%= render @image %>

<%= form_for [@image, @comment] do |f| %>
  <%= f.label :content, "Add comment: " %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
