<!DOCTYPE html>
<html>
<head>
  <title>MyPictures</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if signed_in? %>
    <%= link_to "Sign out 退出", session_path, method: :delete %>
  <% else %>
    <div class="sign-up">Not a User 还不是用户? <%= link_to "Sign Up 来登记吧", new_user_path %></div>
  <% end %>

   <div class="menu">
     <b><%= link_to "Gallery index", galleries_path %></b>
     <b><%= link_to "Groups index", groups_path %></b>
     <b><%= link_to "Go to my page", root_path %></b>
     <b><%= link_to "New gallery", new_gallery_path %></b>
     <b><%= link_to "New group", new_group_path %></b>
     <b><a href="mailto:abbyzhangnyc@gmail.com">Contact</a></b>
   </div>
  <%= yield %>
  <p class="footer">(c) 2014, Abby Biying Zhang</p>
</body>
</html>
